In [2]:
import pandas as pd

In [3]:
obj = pd.Series([1, "Jane", 2, "Mary"])
obj

0       1
1    Jane
2       2
3    Mary
dtype: object

In [4]:
obj.values

array([1, 'Jane', 2, 'Mary'], dtype=object)

In [5]:
obj2 = pd.Series([1, "Jane", 2, "Mary"], index = ["a","b","c","d"])
obj2

a       1
b    Jane
c       2
d    Mary
dtype: object

In [6]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
score = {"Jane" : 30, "Mary" : 40, "Tia" : 10, "Lucy" : 40}
names = pd.Series(score)
names

Jane    30
Mary    40
Tia     10
Lucy    40
dtype: int64

In [8]:
names.values

array([30, 40, 10, 40])

In [9]:
names[names > 10]

Jane    30
Mary    40
Lucy    40
dtype: int64

In [10]:
names[names <= 10] = 40
names

Jane    30
Mary    40
Tia     40
Lucy    40
dtype: int64

In [11]:
"Tia" in names

True

In [12]:
names / 10

Jane    3.0
Mary    4.0
Tia     4.0
Lucy    4.0
dtype: float64

In [13]:
names.isnull()

Jane    False
Mary    False
Tia     False
Lucy    False
dtype: bool

In [16]:
x = [1,2,3,"Money"]
test = pd.Series(x, index = [1,2,3,4])
test

1        1
2        2
3        3
4    Money
dtype: object

In [18]:
test[4]

'Money'