In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.Series(np.random.randn(8), 
                 index = [["a","a","a","b","b","b","c","c"], [1,2,3,1,2,3,1,2]])

In [4]:
data

a  1    0.030044
   2   -0.148901
   3    0.191009
b  1   -0.326759
   2    1.860296
   3   -0.804434
c  1    0.809218
   2    1.178231
dtype: float64

In [5]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2)],
           )

In [8]:
data["a"]

1    0.030044
2   -0.148901
3    0.191009
dtype: float64

In [10]:
data["a"][1]

np.float64(0.030044057227253524)

In [11]:
data.loc[["a", "c"]]

a  1    0.030044
   2   -0.148901
   3    0.191009
c  1    0.809218
   2    1.178231
dtype: float64

In [21]:
data.loc[:,1]

a    0.030044
b   -0.326759
c    0.809218
dtype: float64

In [22]:
data

a  1    0.030044
   2   -0.148901
   3    0.191009
b  1   -0.326759
   2    1.860296
   3   -0.804434
c  1    0.809218
   2    1.178231
dtype: float64

In [23]:
data.unstack()

          1         2         3
a  0.030044 -0.148901  0.191009
b -0.326759  1.860296 -0.804434
c  0.809218  1.178231       NaN

In [24]:
data.unstack().stack()

a  1    0.030044
   2   -0.148901
   3    0.191009
b  1   -0.326759
   2    1.860296
   3   -0.804434
c  1    0.809218
   2    1.178231
dtype: float64

In [35]:
df = pd.DataFrame({
    "x" : range(8),
    "y" : range(8, 0, -1),
    "a" : ["one", "one", "one", "one","two", "two", "two", "two"],
    "b" : [0,1,2,3,4,5,6,7],
})

In [36]:
df

   x  y    a  b
0  0  8  one  0
1  1  7  one  1
2  2  6  one  2
3  3  5  one  3
4  4  4  two  4
5  5  3  two  5
6  6  2  two  6
7  7  1  two  7

In [39]:
data2 = df.set_index(["a", "b"])
data2

       x  y
a   b
one 0  0  8
    1  1  7
    2  2  6
    3  3  5
two 4  4  4
    5  5  3
    6  6  2
    7  7  1

In [46]:
data3 = df.set_index(["a", "b"], drop=False)
data3

       x  y    a  b
a   b
one 0  0  8  one  0
    1  1  7  one  1
    2  2  6  one  2
    3  3  5  one  3
two 4  4  4  two  4
    5  5  3  two  5
    6  6  2  two  6
    7  7  1  two  7

In [47]:
data2.reset_index()

     a  b  x  y
0  one  0  0  8
1  one  1  1  7
2  one  2  2  6
3  one  3  3  5
4  two  4  4  4
5  two  5  5  3
6  two  6  6  2
7  two  7  7  1